$primary: #34C8D4;
$danger: #ff4136;
$secondary: #dcdcdc;
$info : #9bd0d4;
$danger: orange;

$border-radius:               1rem;
$border-radius-sm:            .1rem;
$border-radius-lg:            3rem;
$border-radius-pill:          50rem;
 



$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "info":       $info,
    "danger": $danger,
    
  

);
@import "../node_modules/bootstrap/scss/bootstrap.scss";
.principal{
    background-image: linear-gradient(to right, white 50%,#34C8D4 50%);
  }

  .icon-login{
    width: 50px;
  }
  .hero{
    display: flex;
    align-items: center;
    height: 80vh;
  }

  .active{
    font-weight: 800;
    color:red
  }

 nav{
   z-index: 2;
 }

  .formulario-sesion{
    border: 2px solid #34C8D4;
    position: absolute;
    right: 5%;
    top: 80px;
    background-color: white;
    border-radius: 20px;
    
  }
  .principal-body{
   height: 80vh;
   
 

    
  }
  .ratio-personalice-menu{
    min-width: 19em;
  }
 .ratio-personalice{
   
   min-width: 9em;
 }
 .wave{
transform: scaleY(50%) translateY(70%);
width: 100%;
filter: drop-shadow(10px 0px 2px rgba(0 ,0 ,0, 0.4));



 }
 .content-title-window{
  height:9em;
  width: 100%;
  margin: auto;
  margin-left: -5%;
 

}

 @media (max-width:768px) {
  .content-title-window{
    height:200px;
    margin-left: 0%;
    margin: 0px;
    
    margin-top: -100px;
    padding-top:100px ;
    
  
  
  }
  .ratio{
   
    min-width: 15em;
  }
 }
 .btn-close-img{
    width: 3em;
 }

