

.principal{
    background-image: linear-gradient(to right, white 50%,#34C8D4 50%);
   
   
  }

  .icon-login{
    width: 50px;
  }
  .hero{
    display: flex;
    align-items: center;
    height: 80vh;
  }

  .active{
    font-weight: 800;
    color:red
  }

 nav{
   z-index: 2;
 }

  .formulario-sesion{
    border: 2px solid #34C8D4;
    position: absolute;
    right: 5%;
    top: 80px;
    background-color: white;
    border-radius: 20px;
    
  }
  .principal-body{
   height: 80vh;
   
 

    
  }
 .ratio{
   
   min-width: 8em;
 }
 .wave{
transform: scaleY(50%) translateY(70%);
width: 100%;
filter: drop-shadow(10px 0px 2px rgb(0 0 0 / 0.4));
;


 }

 @media (max-width:768px) {
  
  .ratio{
   
    min-width: 15em;
  }
 }